
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

body {
    background-color: #f5f5f7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main {
    padding: 20px;
}

.all-products {
    display: flex;
    justify-content: center;
}
.search {
    text-align: center;
    margin-bottom: 20px;
}

.search input {
    padding: 10px;
    width: 80%;
    max-width: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.catalog {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
}

.product h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product p {
    margin: 10px 0;
}

.buy-button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.buy-button:hover {
    background-color: #1ebe5f;
}


    

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

main {
    padding: 20px;
}

.contact-info{
    margin-top: 200px;
}

.contact-info,
.contact-form {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-info h2,
.contact-form h2 {
    margin-top: 0;
}

.contact-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-item {
    flex: 1;
    min-width: 200px;
}

.contact-item h3 {
    margin-top: 0;
}

.contact-item a {
    color: #25D366;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.contact-form label {
    display: block;
    margin: 10px 0 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.contact-form button {
    background-color: #25D366;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #1ebe5f;
}